#root {
  max-width: 1280px;
  height: 100vh;
  text-align: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black;
  border-radius: 4px; */
}
main {
  height: 60vh;
}
nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
